* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  body {
    color: #ffffff;
    line-height: 1.45;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    background: #303030;
    position: initial;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
}
