<style>
     <style>#status {
          padding: 10px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
     }

     #status option {
          color: black;
          font-size: 18px;
          border: 1px solid black;
          padding: 10px 20px;
     }

     #status {
          border: 1px solid black;
          padding: 10px 20px;
          outline: none;
          width: 290px;
     }

     .btn_confirm {
          margin-top: 50px;
          border: none;
          padding: 10px 20px;
          background-color: aqua;
     }
</style>
</style>
<div class="w-[80%] m-auto">


     <h2 class="text-center text-2xl font-bold mt-[20px] mb-[30px]">So sánh xe</h2>
     <div class="flex justify-around">
          <h2 class="opacity-0">sfdsfsdfsdf</h2>
          <h2 class="text-2xl font-bold mb-[20px]">Toyota Yaris</h2>
          <h2 class="text-2xl font-bold mb-[20px]">Toyota Vios</h2>
     </div>
     <hr>
     <div class="">



          <div class="flex justify-around gap-x-[30px]">
               <div>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
               </div>
               <div>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
               </div>
               <div>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
                    <h2>2</h2>
               </div>

          </div>



          <div class="mt-[100px] flex justify-end">
               <button style="background-color: #c81202;" class=" font-bold px-4 py-2 text-white">so sánh</button>
          </div>
     </div>

</div>