<style>
  <style>#status {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #status option {
    color: black;
    font-size: 18px;
    border: 1px solid black;
    padding: 10px 20px;
  }

  #status {
    border: 1px solid black;
    padding: 10px 20px;
    outline: none;
    width: 290px;
  }

  .btn_confirm {
    margin-top: 50px;
    border: none;
    padding: 10px 20px;
    background-color: aqua;
  }
</style>
</style>

<div class="w-[70%] m-auto">
  <h2 class="text-center text-2xl font-bold mt-[20px]">So sánh xe</h2>
  <div class=" text-xl font-bold my-[50px]">Chọn xe để xo sánh</div>
  <div class="flex justify-between  gap-x-[30px]">
    <div>
      <h2 class="text-center text-xl mb-[30px] font-bold">Xe thứ 1</h2>
      <div class="mb-[50px]">
        <span class="mr-[30px] font-medium">Chọn hãng xe: </span>
        <select class="" name="status" id="status">
          <option value="Toyota">Toyota</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Ford">Ford</option>
          <option value="Honda">Ford</option>
          <option value="Honda">Honda</option>
        </select>
      </div>
      <div>
        <span class="mr-[70px] font-medium">Chọn xe:</span>
        <select class="" name="status" id="status">
          <option value="Jazz">Jazz</option>
          <option value="Accord">Accord</option>
          <option value="City">City</option>
        </select>
      </div>
    </div>
    <div>
      <h2 class="text-center text-xl  mb-[30px] font-bold">Xe thứ 2</h2>
      <div class="mb-[50px]">
        <span class="mr-[30px] font-medium">Chọn hãng xe: </span>
        <select class="" name="status" id="status">
          <option value="Toyota">Toyota</option>
          <option value="Chevrolet">Chevrolet</option>
          <option value="Ford">Ford</option>
          <option value="Honda">Ford</option>
          <option value="Honda">Honda</option>
        </select>
      </div>
      <div>
        <span class="mr-[70px] font-medium">Chon xe:</span>
        <select class="" name="status" id="status">
          <option value="Jazz">Jazz</option>
          <option value="Accord">Accord</option>
          <option value="City">City</option>
        </select>
      </div>
    </div>

  </div>

  <div class="mt-[100px] flex justify-end">
    <a href="/chitetsosanh" style="background-color: #c81202;" class=" font-bold px-4 py-2 text-white">so sánh</a>
  </div>
</div>